body {
	background-color: rgb(23, 210, 210);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1 {
	color: rgb(11, 110, 110);
}

h4 {
	color: rgb(11, 110, 110);
}

img {
	width: 200px;
}
